@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You have entered the Velvet Room..</h1>
</div>


<div class="TarotCardsFlex">
<div class="HomeBtn">
    <form>
        <button class="BtnNextCard">Next Card</button>
    </form>
    </div>
<div class="TarotCardInformationFlex">
    <img src ="~/img/TarotCards/TheFool.png" class ="TheFool" alt="The Fool" />
    <h2> Nr.0 The Fool </h2>
    <p >Depicting a youg man and his faithfull Dog, the Fool symbolises the beginning of a jorney and the unlimited possibilities therof.Assigned the number 0, this place with the other cards is hard to tell but he is ever present nonethless.</p>
</div>
</div>
