@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link herf="~/css/Site.css" rel="stylesheet"/>

<h1>Choose Fortune Teller</h1>

<p>Igor, Ursula, Scherezad</p>
<div class="NummberOfCards">
    <button class="BtnTwoCards"> 2 - Card Reading </button>
    <button class="BtnThreeCards"> 3 - Card Reading </button>
    <button class="BtnFiveCards"> 5 - Card Reading </button>
</div>
