@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You have entered the Velvet Room..</h1>
    <p>Learn about Tarot Cards and get yourself a Reading Today.</p>
</div>
<div class="HomeBtn">
    <form>
<button onclick="window.location.href = 'https://de.w3docs.com';">Hier klicken</button>
    </form>
</div>
