@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You have entered the Velvet Room..</h1>
</div>
<div class="HomeBtn">
    <form>
        <button class="BtnNextCard">Next Card</button>
    </form>
</div>
