html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    /*background-color:#5561AD;*/
}

body {
    /*background-color: #5561AD;*/
    color: black;
}

body {
    margin-bottom: 60px;
}

.NummberOfCards {
    border: none;
    flex-wrap:wrap;
}

.BtnTwoCards{
    background-color: black;
    border: white;
    border-radius: 5px;
    color: white;
}
.BtnThreeCards {
    background-color: black;
    border: white;
    border-radius: 5px;
    color: white;
}
.BtnFiveCards {
    background-color: black;
    border: white;
    border-radius: 5px;
    color: white;
}
.BtnNextCard {
    background-color: black;
    border: white;
    border-radius: 5px;
    color: white;
}

a{
    text-decoration: none;
}

.HeaderNav{
    background-color: #000090;
}
.dropdown {
    background-color: black;
    border: white;
    border-radius: 5px;
    color: white;
}